<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Match4All</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container mb-5">
            <div class="text-center mt-5">
                <h1 class="display-4">Match4All</h1>
                <p class="lead">Proyecto de Ingeniería Web</p>
                <p class="text-muted">Desarrollado por: Siro Fernández García, Pablo Rodríguez González y Bruno Lozano Clemente </p>
            </div>

            <hr class="my-4">

            <section class="mt-4">
                <h2>1. Introducción y Propósito</h2>
                <p style="font-size: 24px;">
                    Match4All es una plataforma web diseñada para centralizar y profesionalizar la gestión de encuentros de fútbol amateur. 
                    Su objetivo es sustituir métodos informales como grupos de chat o hojas de cálculo por una herramienta robusta que gestione ligas, 
                    amistosos y estadísticas en tiempo real, conectando a organizadores, jugadores y árbitros.
                </p>
            </section>

            <section class="mt-5">
                <h2>2. Definición de Roles y Permisos</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card h-100">
                            <div class="card-body" style="font-size: 24px; background-color: #ffcccb;" >
                                <h5 class="card-title">Administrador</h5>
                                <p class="card-text">Gestor de la plataforma encargado de la creación y configuración de ligas, torneos, gestión de campos y horarios.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100">
                            <div class="card-body" style="font-size: 24px; background-color: #add8e6;">
                                <h5 class="card-title">Usuarios</h5>
                                <ul class="small">
                                    <li><strong>Capitán:</strong> Inscribe al equipo, gestiona la plantilla y acepta retos.</li>
                                    <li><strong>Jugador:</strong> Visualiza calendario y estadísticas personales. Puede pertenecer a un equipo.</li>
                                    <li><strong>Invitado:</strong> Acceso a información general y estadísticas. No tiene cuenta en la pagina.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100">
                            <div class="card-body" style="font-size: 24px; background-color: #ffcccb;">
                                <h5 class="card-title">Árbitro</h5>
                                <p class="card-text">Perfil independiente encargado de la gestión de actas digitales, introducción de goles, tarjetas e incidencias.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>