<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Match4All - Acta de Partido</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container mb-5">
            <div class="text-center mt-5">
                <h1 class="display-4"><strong>Acta de Partido</strong></h1>
                <p class="lead text-primary fw-bold">Gestión de Resultados en Tiempo Real</p>
            </div>

            <hr class="my-4">

            <div class="alert alert-warning text-center shadow-sm p-5 mt-5 border-warning rounded-4" role="alert" style="background-color: #fffdf5;">
                <h2 class="alert-heading mb-4 text-dark">
                    Vista pendiente de evolución
                </h2>
                <p class="fs-4 text-dark" style="line-height: 1.6;">
                    Esta sección se encuentra actualmente en desarrollo. La idea principal es construir una interfaz interactiva donde el árbitro pueda introducir los datos del partido (goles, tarjetas, faltas y otras incidencias) en <strong>tiempo real utilizando WebSockets</strong>.
                </p>

            </div>

        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>